<div>
  <%= form_with(model: shopping_list, local: true) do |form| %>
    
    <div class="field">
      <div class="form-input">
        <%= form.text_field :name, class: 'form-control font-label-style',placeholder: "Name of the shopping_list"  %>
      </div>
    </div>

    <div class="field">          
      <div class="form-input">
        <%= form.number_field :amount, class: 'form-control font-label-style',placeholder: "amount example:10" %>
      </div>
    </div>
    <br>
    <div><%= form.label :icon, class: "font-label-style" %></div>
    
    <div class="field check-input-style">      
      <% @group.each do |prod| %>      
        <div class="check-item-style">
          <%= check_box_tag "shopping_list[group_ids][#{prod.id}]", prod.id, @shopping_list.group_ids.include?(prod.id)  %>              
          <%= label_tag(:icon, "#{prod.name}", class: "font-label-style") %>
          <i class="<%= prod.icon %> icon-size-group"></i> 
        </div>
      <% end %>
    </div>
    
    <div class="actions">
      <div>        
        
        <%= form.submit "Save", class: "btn new-shopping_list-button" %>
        
      </div>
    </div>
  <% end %>
</div>
